.photos {
  font-size: 0;

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    display: inline-block;
    max-width: calc(25% - 15px);
    margin-left: 20px;
    margin-bottom: 20px;

    &:nth-child(4n+1) {
      margin-left: 0;
    }
  }
}

.jFiler-input {
  width: auto !important;
}

